<!DOCTYPE html>
<html class="light">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8" />
        <link href="/admin/images/logo.svg" rel="shortcut icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities."
        />
        <meta
            name="keywords"
            content="admin template, Midone Admin Template, dashboard template, flat admin template, responsive admin template, web app"
        />
        <meta name="author" content="Tailatin" />
        <title><%=title%></title>
        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="/admin/css/style.css" />
        <!-- END: CSS Assets-->
    </head>
    <!-- END: Head -->

    <body class="login">
        <%- include(view); %> <%- include('./components/SwitcherTheme'); %>

        <!-- BEGIN: JS Assets-->

        <script src="/lib/jquery/jquery.js"></script>
        <script src="/admin/js/main.js"></script>

        <!-- END: JS Assets-->
    </body>
</html>
